.control--search {
  position: relative;
  &::after {
    position: absolute;
    width: 30px;
    height: 30px;
    content: ' ';
    background: url("../../assets/search.png");
    top: 30%;
    right: 0;
    transform: translate(-50%, 0);
  }
  input {
    width: 540px;
    height: 60px;
    border: none;
    border-radius: 30px;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.1);
  }

}



